<h1 id="tableLabel">Students</h1>

<p *ngIf="!students"><em>Loading...</em></p>
<div class="row">
  <!-- <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-primary mb-3" (click)="toggleAddForm()">Add Student</button>
  </div> -->
  <div class="col-sm-offset-2 col-sm-10 align-left">
    <button routerLink="/add-student" class="btn btn-primary mb-3">Add Student</button>
  </div>
</div>
<div>
  <table class="table table-striped" aria-labelledby="tableLabel" *ngIf="students">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Major</th>
        <th scope="col">Average Grade</th>
        <th scope="col">Grade List</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.firstName }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.major }}</td>
        <td [ngClass]="getGradeColor(student.averageGrade)">
          <p *ngIf="student.grades && student.grades.length > 0">
            {{ student.averageGrade | number:'1.1-1' }}%
          </p>
        </td>
        <td>
          <table class="table table-striped">
            <tbody>
              <tr *ngFor="let grade of student.grades">
                <td>{{ grade.subjectName }}</td>
                <td>{{ grade.score }}</td>
              </tr>
            </tbody>
          </table>
        </td>
        <td> <button class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div>